# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv/
env/

# AWS
*.pem
*.key
.aws/
terraform.tfstate
terraform.tfstate.backup
.terraform/

# IDE
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
config.json
